{% extends 'base.html.twig' %}

{% block title %}Курсы / StudyOn{% endblock %}

{% block body %}
    <h1>Курсы</h1>

        {% for course in courses %}
                <h2>
                    <a href="{{ path('course_show', {'id': course.id}) }}">{{ course.Name }}</a>
                </h2>
                <h3>{{ course.Description }}</h3>
        {% else %}
            <h2>no records found</h2>
        {% endfor %}

    <a href="{{ path('course_new') }}">Добавить курс</a>
{% endblock %}
