{% extends 'base.html.twig' %}

{% block title %}Новый курс / StudyOn{% endblock %}

{% block body %}
    <h1>Новый курс</h1>

    {{ include('course/_form.html.twig') }}
    <br>
    <a class="btn btn-outline-dark ml-2 mt-3 btn-sm" href="{{ path('course_index') }}">Назад к списку курсов</a>
{% endblock %}
