{% extends 'base.html.twig' %}

{% block title %}Новый курс / StudyOn{% endblock %}

{% block body %}
    <h1>Добавить курс</h1>

    {{ include('course/_form.html.twig') }}

    <a class="btn btn-outline-dark" href="{{ path('course_index') }}">Вернуться к списку</a>
{% endblock %}
