{% extends 'base.html.twig' %}

{% block title %}Профиль / Study-on
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h5>Email:
                {{app.user.getUserName}}</h5>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <h5>Роль: Администратор</h5>
            {% else %}
                <h5>Роль: Пользователь</h5>
            {% endif %}
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Текущий баланс:
                {{balance}}$ -
                <a href="{{ path('transactions') }}">
                    История транзакций
                </a>
            </h5>
        </div>
    </div>
{% endblock %}