{% extends 'base.html.twig' %}

{% block title %}Редактирование {{ lesson.name }} / StudyOn{% endblock %}

{% block body %}
    <h1>Редактирование {{ lesson.name }}</h1>

    {{ include('lesson/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('lesson/_delete_form.html.twig') }}
{% endblock %}
