{% extends 'base.html.twig' %}

{% block title %}Доступ запрещен / Study-On
{% endblock %}

{% block body %}
    <h2>Доступ запрещен!</h2>
    <a class="btn btn-outline-dark mt-3 btn-sm" href="{{ path('course_index') }}">Перейти на страницу курсов</a>
{% endblock %}