<div class="navbar">
    <div class="container d-flex justify-content-between">
        <a href="{{ path('course_index') }}" class="navbar-brand d-flex align-items-center">
            <strong>Study-On</strong>
        </a>
    </div>
</div>